Repository Wandeon/metcam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @queen, @infrastructure-team, @video-team, @processing-team, @platform-team, @quality-team

.github/CODEOWNERS:

# Global owner
* @queen

# Team ownership
/src/infrastructure/ @infrastructure-team @queen
/src/video-pipeline/ @video-team @queen
/src/processing/ @processing-team @queen
/src/platform/ @platform-team @queen
/tests/ @quality-team @queen
/docs/ @queen

# Critical files
/README.md @queen
/.github/ @queen
/deploy/ @infrastructure-team @queen

feat(infrastructure): W1 device tree for dual IMX477 cameras
  src/infrastructure/device-tree/Makefile
  src/infrastructure/device-tree/README.md
  src/infrastructure/device-tree/benchmarks/benchmark_capture_latency.sh
  src/infrastructure/device-tree/docs/INTEGRATION.md
  src/infrastructure/device-tree/src/tegra234-p3768-camera-imx477-dual.dts
  src/infrastructure/device-tree/tests/test_camera_detection.sh
Owners: @infrastructure-team, @queen

feat(infrastructure): W3 NVMe storage optimization
  src/infrastructure/storage-optimization/Makefile
  src/infrastructure/storage-optimization/README.md
  src/infrastructure/storage-optimization/benchmarks/benchmark_storage.sh
  src/infrastructure/storage-optimization/include/storage_manager.h
  src/infrastructure/storage-optimization/src/storage_manager.c
Owners: @infrastructure-team, @queen

feat(infrastructure): W4 network stack optimization
  src/infrastructure/network-optimization/README.md
  src/infrastructure/network-optimization/scripts/optimize-network.sh
  src/infrastructure/network-optimization/src/upload_manager.py
Owners: @infrastructure-team, @queen

feat(infrastructure): W5 thermal management daemon
  src/infrastructure/thermal-management/README.md
  src/infrastructure/thermal-management/src/thermal_monitor.py
  src/infrastructure/thermal-management/systemd/thermal-monitor.service
Owners: @infrastructure-team, @queen

feat(infrastructure): W6 memory management and NVMM buffers
  src/infrastructure/memory-management/README.md
  src/infrastructure/memory-management/src/nvmm_allocator.c
Owners: @infrastructure-team, @queen

feat(infrastructure): W7 boot optimization and recovery system
  src/infrastructure/boot-recovery/README.md
  src/infrastructure/boot-recovery/src/watchdog.sh
Owners: @infrastructure-team, @queen

feat(quality): W41 test strategy and master test plan
  tests/strategy/MASTER_TEST_PLAN.md
  tests/strategy/QUALITY_GATES.md
  tests/strategy/README.md
Owners: @quality-team, @queen

feat(infrastructure): W8 hardware abstraction layer
  src/infrastructure/hal/README.md
  src/infrastructure/hal/src/camera_hal.c
  src/infrastructure/hal/src/gpio_control.c
Owners: @infrastructure-team, @queen

feat(infrastructure): W9 SystemD services configuration
  src/infrastructure/system-services/README.md
  src/infrastructure/system-services/systemd/footballvision.target
  src/infrastructure/system-services/systemd/recording.service
Owners: @infrastructure-team, @queen

feat(infrastructure): W10 development tools and diagnostics
  src/infrastructure/dev-tools/README.md
  src/infrastructure/dev-tools/scripts/cross-compile-setup.sh
  src/infrastructure/dev-tools/scripts/system-diagnostics.sh
Owners: @infrastructure-team, @queen

feat(infrastructure): W2 JetPack 6.0 custom image configuration
  src/infrastructure/jetson-image/README.md
  src/infrastructure/jetson-image/scripts/optimize-nvme.sh
  src/infrastructure/jetson-image/scripts/setup-cuda-cache.sh
  src/infrastructure/jetson-image/src/build-image.sh
  src/infrastructure/jetson-image/src/image-config.yaml
Owners: @infrastructure-team, @queen

feat(infrastructure): W3 NVMe storage optimization
  src/infrastructure/storage-optimization/Makefile
  src/infrastructure/storage-optimization/README.md
  src/infrastructure/storage-optimization/benchmarks/benchmark_storage.sh
  src/infrastructure/storage-optimization/include/storage_manager.h
  src/infrastructure/storage-optimization/src/storage_manager.c
Owners: @infrastructure-team, @queen

feat(quality): W42 integration testing framework
  tests/integration/README.md
  tests/integration/test_api_contracts.py
  tests/integration/test_recording_workflow.py
Owners: @quality-team, @queen

docs(infrastructure): Complete infrastructure implementation summary
  src/infrastructure/README.md
Owners: @infrastructure-team, @queen

feat(quality): W43 performance testing suite
  tests/performance/README.md
  tests/performance/test_benchmarks.py
Owners: @quality-team, @queen

feat(quality): W44 field testing protocol
  tests/field-testing/FIELD_TEST_PROTOCOL.md
  tests/field-testing/README.md
Owners: @quality-team, @queen

feat(quality): W45 documentation system
  docs/README.md
  docs/technical/API_REFERENCE.md
  docs/user/QUICK_START_GUIDE.md
  docs/user/TROUBLESHOOTING.md
Owners: @queen

feat(platform): Complete Platform Team implementation (W31-W40)
  src/platform/DELIVERABLES.md
  src/platform/INTEGRATION.md
  src/platform/README.md
  src/platform/SETUP_COMPLETE.sh
  src/platform/api-server/services/notifications.py
  src/platform/api-server/tests/test_api.py
  src/platform/api-server/tests/test_auth.py
  src/platform/installer/install.sh
  src/platform/web-dashboard/index.html
  src/platform/web-dashboard/src/App.tsx
  src/platform/web-dashboard/src/index.css
  src/platform/web-dashboard/src/main.tsx
Owners: @platform-team, @queen

feat(quality): W46 deployment and installer tools
  deployment/README.md
  deployment/installer/install.sh
  deployment/scripts/system-check.sh
Owners: @queen

feat(quality): W47 monitoring and telemetry
  monitoring/README.md
  monitoring/alerts/recording_alerts.yml
  monitoring/grafana/dashboards/system_health.json
  monitoring/prometheus/prometheus.yml
Owners: @queen

feat(quality): W48 bug tracking and reporting system
  .github/ISSUE_TEMPLATE/bug_report.md
  tools/bug-reporting/README.md
  tools/bug-reporting/crash_reporter.py
Owners: @queen

feat(quality): W49 release automation pipeline
  .github/workflows/ci-cd.yml
  scripts/release/README.md
  scripts/release/prepare_release.sh
Owners: @queen

feat(quality): W50 compliance and certification framework
  compliance/COMPLIANCE_REPORT.md
  compliance/README.md
Owners: @queen

docs(quality): Complete Quality & Testing Team summary
  QUALITY_TEAM_SUMMARY.md
Owners: @queen

feat(processing): Complete GPU-accelerated panoramic stitching pipeline (W21-W30)
  src/processing/CMakeLists.txt
  src/processing/DEPLOYMENT.md
  src/processing/barrel-correction/CMakeLists.txt
  src/processing/examples/process_game.py
  src/processing/src/processing/README.md
  src/processing/src/processing/__init__.py
  src/processing/src/processing/architecture/__init__.py
  src/processing/src/processing/batch-manager/__init__.py
  src/processing/src/processing/calibration/__init__.py
  src/processing/src/processing/color-matching/__init__.py
  src/processing/src/processing/gpu-memory/__init__.py
  src/processing/src/processing/optimization/__init__.py
  src/processing/src/processing/panoramic-stitcher/__init__.py
  src/processing/src/processing/quality-metrics/__init__.py
  src/processing/src/processing/video-codec/__init__.py
Owners: @processing-team, @queen

docs: Add comprehensive deployment guide for all teams
  docs/DEPLOYMENT_GUIDE.md
Owners: @queen

feat(queen): Complete integration validation and Alpha certification
  QUEEN_VALIDATION_REPORT.md
  integration-map.json
Owners: @queen

fix(ci): Update CI/CD pipeline for Alpha release compatibility
  .github/workflows/ci-cd.yml
  requirements.txt
Owners: @queen

fix(ci): Make security baseline check non-blocking for Alpha
  .github/workflows/ci-cd.yml
Owners: @queen

Update recording system with 25W power mode and single MP4 output
  scripts/record_dual_1080p30.sh
  scripts/start_calibration_preview.sh
  src/platform/api-server/services/auto_processor.py
  src/platform/simple_api.py
  src/platform/web-dashboard/src/components/CalibrationPreview.tsx
  src/platform/web-dashboard/src/components/CameraPreview.tsx
  src/platform/web-dashboard/src/pages/Preview.tsx
  src/video-pipeline/preview_service.py
  src/video-pipeline/recording_manager.py
Owners: @queen, @platform-team, @video-team

Implement segmented recording with splitmuxsink and VI error monitoring
  src/platform/simple_api.py
  src/video-pipeline/recording_manager.py
Owners: @platform-team, @queen, @video-team

Fix HLS sink compatibility - use hlssink instead of hlssink2
  src/video-pipeline/recording_manager.py
Owners: @video-team, @queen

Update systemd service with VPS-02 SFTP configuration
  deploy/footballvision-api.service
  src/platform/web-dashboard/package-lock.json
Owners: @infrastructure-team, @queen, @platform-team

Fix Dashboard UI: Update settings, 1s timer, confirm stop, native messages
  src/platform/web-dashboard/src/pages/Dashboard.tsx
  src/platform/web-dashboard/src/services/api.ts
Owners: @platform-team, @queen

Increase bitrate to 45 Mbps per camera for 100GB/150min target
  src/platform/simple_api.py
  src/platform/web-dashboard/src/pages/Dashboard.tsx
  src/video-pipeline/recording_manager.py
Owners: @platform-team, @queen, @video-team

Fix recordings API to detect segmented recordings in subdirectories
  src/platform/simple_api.py
Owners: @platform-team, @queen

Fix recordings API to list camera files separately for download
  src/platform/simple_api.py
Owners: @platform-team, @queen

Adjust recording defaults to native 60fps capture with 30fps x264 encode
  src/platform/simple_api.py
  src/platform/web-dashboard/src/pages/Dashboard.tsx
  src/video-pipeline/preview_service.py
  src/video-pipeline/recording_manager.py
Owners: @platform-team, @queen, @video-team

Tune calibration preview for high-detail center crop
  scripts/start_calibration_preview.sh
Owners: @queen

Fix stop recording metrics
  src/platform/simple_api.py
Owners: @platform-team, @queen
